*{
   margin: 0;
}

.shadow::after{
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: black;
   opacity: .4;
}

.carousel-caption {
   top: 32%;
   bottom: auto;
}

.previous-icon, .next-icon {
   height: 100px;
   width: 100px;
   outline: rgb(43, 55, 172);
   background-color: rgba(44, 12, 185, 0.3);
   background-size: 100%, 100%;
   border-radius: 50%;
   border: 1px solid rgb(28, 82, 151);
   position: absolute;
   left: 0;
}

.next-icon {
   height: 100px;
   width: 100px;
   outline: rgb(43, 55, 172);
   background-color: rgba(44, 12, 185, 0.3);
   background-size: 100%, 100%;
   border-radius: 50%;
   border: 1px solid rgb(28, 82, 151);
   position: absolute;
   left: 90%;
}

.footer-social-icons {
   color: white;
   display: flex;
   justify-content: center;
   position: absolute;
   left: 0;
   right: 0;
}

.footer-social-icons a {
   color: white;
}

.footer-social-icons a{
   margin: 0 12px;
   font-size: 1.5rem;
   transition: 0.3s;
}

.footer-social-icons>a:hover{
   color: red;
   font-size: 2rem;
}
