*{
   margin: 0;
}

/* Custom-styling-for-Carousel-responsive-caption-starts */
.shadow::after{
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: black;
   opacity: .5;
}

.carousel-caption {
   top: 28%;
   bottom: auto;
}

.carousel-height{
   height: 520px;
   max-height: 800px;
}

.bg-img-crsl-1{
   background-image: url(../images/cover/selected-cover-1.jpg);
   background-size: cover;
}

.bg-img-crsl-two{
   background-image: url(../images/cover/selected-cover-2.jpg);
   background-size: cover;
}

.bg-img-crsl-three{
   background-image: url(../images/cover/selected-cover-3.jpg);
   background-size: cover;
}

.carousel-caption{
   z-index: 2;
}

/* Custom-styling-for-Carousel-responsive-caption-end */

/* Custom-styling-for-Feedback-Carousel-Coltrol-button-starts */
.previous-icon, .next-icon {
   height: 100px;
   width: 100px;
   outline: rgb(43, 55, 172);
   background-color: rgba(44, 12, 185, 0.3);
   background-size: 100%, 100%;
   border-radius: 50%;
   border: 1px solid rgb(28, 82, 151);
   position: absolute;
   left: 0;
}

.next-icon {
   height: 100px;
   width: 100px;
   outline: rgb(43, 55, 172);
   background-color: rgba(44, 12, 185, 0.3);
   background-size: 100%, 100%;
   border-radius: 50%;
   border: 1px solid rgb(28, 82, 151);
   position: absolute;
   left: 90%;
}

/* Custom-styling-for-Feedback-Carousel-Coltrol-button-end */



/* Custom Footer Style starts */
.footer-social-icons {
   color: white;
   display: flex;
   justify-content: center;
   position: absolute;
   left: 0;
   right: 0;
}

.footer-social-icons a {
   color: white;
}

.footer-social-icons a{
   margin: 0 12px;
   font-size: 1.5rem;
   transition: 0.3s;
}

.footer-social-icons>a:hover{
   color: red;
   font-size: 2rem;
}

/* Custom Footer Style end */
